<!-- {% extends 'layout.html' %}

{% block body %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    

<div class="jumbotron">
    <h1 class="display-4">Hello Everyone!</h1>
    <p class="lead">This is a web UI for our Hello! App</p>
    <hr class="my-4">
    <h3 class="display-4">Problem Statement:</h3>
    <p>Differently abled and mute people use gesture-based communication methods to convey their thoughts and the most common medium are hand gestures. An innovation to help deaf 
      adn mute people to communicate with others is a relevant solution.
    </p>
    <h3 class="display-4">Our Solution:</h3>
    <p>
      We have created a web API soon to be turned into a personal assistant that can help us converse with people who are Differently abled with a lot of ease.
      This API will help the user by:
      <ul> 
        <li>learn ASL or ISL standard of sign language,</li>
        <li>convert text into sign language,</li> 
        <li>translate using live camera feed sign language gestures into text</li>
        <li>for Differently abled people who didn't have the oppurtunity to learn how to read, an OCR system that converts the written text to speech and also to Sign Language Gestures</li>
       </ul>
    </p>

    
  </div>



  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Name</h5>
  
          <ul class="list-unstyled">
            <p>
              Ishant Dahiya
            </p>

            <p>
                Himanshu Saini
              </p>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contact</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">ishantdahiya@gmail.com</a>
            </li>
            <li>
              <a href="#!">sainihimanshu.1999@gmail.com</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/ishantd/HackDUCS-2020">HACKDUCS</a>
    </div>
    <!-- Copyright -->
  
  </footer>

</body>
</html>
  <!-- Footer -->


<!-- {% endblock %} -->