{% extends 'layout.html' %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Signs</th>
            <th scope="col">Alphabet</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><img src="../static/images/a.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>A</td>
            
          </tr>
          
          <tr>
            <th scope="row">2</th>
            <td><img src="../static/images/b.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>B</td>
            
          </tr>

          <tr>
            <th scope="row">3</th>
            <td><img src="../static/images/c.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>C</td>
            
          </tr>

        

          <tr>
            <th scope="row">4</th>
            <td><img src="../static/images/d.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>D</td>
            
          </tr>

          <tr>
            <th scope="row">5</th>
            <td><img src="../static/images/e.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>E</td>
            
          </tr>

          <tr>
            <th scope="row">6</th>
            <td><img src="../static/images/f.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>F</td>
            
          </tr>

          <tr>
            <th scope="row">7</th>
            <td><img src="../static/images/g.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>G</td>
            
          </tr>

          <tr>
            <th scope="row">8</th>
            <td><img src="../static/images/h.jpg" alt="A image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>H</td>
            
          </tr>

          <tr>
            <th scope="row">9</th>
            <td><img src="../static/images/i.jpg" alt="A image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>A</td>
            
          </tr>

          <tr>
            <th scope="row">10</th>
            <td><img src="../static/images/j.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>J</td>
            
          </tr>

          <tr>
            <th scope="row">11</th>
            <td><img src="../static/images/k.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>K</td>
            
          </tr>

          <tr>
            <th scope="row">12</th>
            <td><img src="../static/images/l.jpg" alt="image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>L</td>
            
          </tr>

          <tr>
            <th scope="row">13</th>
            <td><img src="../static/images/m.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>M</td>
            
          </tr>

          <tr>
            <th scope="row">14</th>
            <td><img src="../static/images/n.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>N</td>
            
          </tr>

          <tr>
            <th scope="row">15</th>
            <td><img src="../static/images/o.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>O</td>
            
          </tr>

          <tr>
            <th scope="row">16</th>
            <td><img src="../static/images/p.jpg" alt="image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>P</td>
            
          </tr>

          <tr>
            <th scope="row">17</th>
            <td><img src="../static/images/q.jpg" alt="A image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>Q</td>
            
          </tr>

          <tr>
            <th scope="row">18</th>
            <td><img src="../static/images/r.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>R</td>
            
          </tr>

          <tr>
            <th scope="row">19</th>
            <td><img src="../static/images/s.jpg" alt="image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>S</td>
            
          </tr>

          <tr>
            <th scope="row">20</th>
            <td><img src="../static/images/t.jpg" alt="image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>T</td>
            
          </tr>

          <tr>
            <th scope="row">21</th>
            <td><img src="../static/images/u.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>U</td>
            
          </tr>

          <tr>
            <th scope="row">22</th>
            <td><img src="../static/images/v.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>V</td>
            
          </tr>

          <tr>
            <th scope="row">23</th>
            <td><img src="../static/images/w.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>W</td>
            
          </tr>

          <tr>
            <th scope="row">24</th>
            <td><img src="../static/images/x.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>X</td>
            
          </tr>

          <tr>
            <th scope="row">25</th>
            <td><img src="../static/images/y.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>Y</td>
            
          </tr>

          <tr>
            <th scope="row">26</th>
            <td><img src="../static/images/y.jpg" alt=" image" class="img-thumbnail" width="200px" height="200px"></td>
            <td>Y</td>
            
          </tr>


          
        </tbody>
      </table>
      
     
      {% endblock %}