{% extends 'layout.html' %}

{% block body %}

      <!-- ========================Navbar END========================= -->

      <h1>Text to sign Language converter</h1>
      <form method="POST" action="/uploadQuery" enctype="multipart/form-data">

        <div class="form-group">
          <div class="inputForm">
            <!-- <label for="inputFile"> Image File Input </label> <br> -->
            <h2 id="input">
              Please enter text here:
            </h2>
            <input type="text" name="inputQuery">
            
          
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
          
</div>
      </form>
      
      {% endblock %}