{% extends 'layout.html' %}

{% block body %}

      <!-- ========================Navbar END========================= -->

      <h1>Text to sign Language converter</h1>
      <form method="POST" action="/upload" enctype="multipart/form-data">

        <div class="form-group">
          <div class="inputForm">
            <!-- <label for="inputFile"> Image File Input </label> <br> -->
            <h2 id="input">
              Please enter text here:
            </h2>
            <input type="text" name="inputFile">
            
          
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
          
</div>
      </form>
      <div class="results">
        <h2>Your Results:</h2>
        <div class="row">
          <div class="col">
            <h4>g</h4>
            <img src="images/g.jpg" alt="">
          </div>
          <div class="col">
            <h4>j</h4>
            <img src="images/j.jpg" alt="">
          </div>
          <div class="col">
            <h4>j</h4>
            <img src="images/j.jpg" alt="">
          </div>
          <div class="col">
            <h4>g</h4>
            <img src="images/g.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>g</h4>
            <img src="images/g.jpg" alt="">
          </div>
          <div class="col">
            <h4>j</h4>
            <img src="images/j.jpg" alt="">
          </div>
          <div class="col">
            <h4>g</h4>
            <img src="images/g.jpg" alt="">
          </div>
          <div class="col">
            <h4>C</h4>
            <img src="images/c.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>C</h4>
            <img src="images/c.jpg" alt="">
          </div>
          <div class="col">
            <h4>C</h4>
            <img src="images/c.jpg" alt="">
          </div>
          <div class="col">
            <h4>g</h4>
            <img src="images/g.jpg" alt="">
          </div>
          <div class="col">
            <h4>j</h4>
            <img src="images/j.jpg" alt="">
          </div>
        </div>
      </div>
      {% endblock %}